LOG_PATH='/app/Log_paths/Apache,/app/Log_paths/Openssh'
CONFIGURATION_FILE='/app/Configuration_Files/filter.yaml'
STATE_DIR='Configuration_Files'
STATE_FILE='Configuration_Files/filestate.json'
API_URL='http://api:8000'
API_FILE_PATH='/app/Configuration_Files/'
API_SS_FILE='API_SS.json'
